
<h1>Shopping List</h1>

<div class="d-flex justify-content-between">
  <h3>Amount of food items to buy: <%= @recipe.recipe_foods.length %> </h3>
  <h3>Total price: <%= @total_price %> </h3>
</div>

<table class="table table-striped">
    <thead>
        <tr>
        <th scope="col">Food</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
     <% @recipe.recipe_foods.each do |recipe| %>
    <tr>
      <th scope="row"><%= recipe.food.name %></th>
      <td><%= recipe.quantity %></td>
      <td><%= recipe.food.price * recipe.quantity %></td>
    </tr>
    <% end %>
    </tbody>
    </table>